<!-- views/partials/post-form.handlebars -->

<!-- TITLE -->

<div class="form-group">
  <label for="title">Question</label><br>
  <input class="form-control" type="text" name="title" value="{{post.title}}"/>
</div>

<!-- Location -->

<div class="form-group">
  <label for="location">Location</label><br>
  <input class="form-control" type="text" name="location" value="{{post.location}}"/>
</div>

<!-- BUTTON -->
<span>
  <button type="submit" class="btn btn-primary">Post</button>
</span>

<span> <a href="/" class="btn btn-danger">Cancel</a> </span>
