<!-- main.handlebars -->
<!DOCTYPE html>
<head>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<link rel="stylesheet" href="../../style.css"/>
<title>Location Overflow</title>
</head>
<body class="{{bodytype}}">
<div class="stick-navbar">
    <ul id="navigation">
        <!--  Nav  -->
            <a id="logo" href="/"><li><h2>&#9783;</h1></li></a>
            <a href="/"><li>Questions</li></a>
            <a href="/"><li>Users</li></a>
            <li>
                <form class="search-set form-inline" action="/location">
                    <input id="search-button" class="form-control mr-sm-2 searchbar" type="search"  name="q" placeholder="Search" aria-label="Search">
                    <!-- <input type="submit">Search</input> -->
                    <button id="search-submit" type="submit">&#128269;</button>
                </form>
            </li>
        <!-- Auth -->
            <a href="#"><li class="logged-in"><em>{{user.username}}</em></li></a>
            <a href="/logout"><li class="logged-in">Log-out</li></a>
            <a href="/login"><li class="logged-out">Log-in</li></a>
            <a href="/register"><li class="logged-out">Register</li></a>
    </ul>
</div>

<br>
<div class="container">
{{{body}}}
</body>
</div>
