<!-- main.handlebars -->
<!DOCTYPE html>
<head>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<link rel="stylesheet" href="../../style.css"/>
<title>Location Overflow</title>
</head>
<body class="{{bodytype}}">
<div class="stick-navbar">
    <ul id="navigation">
        <div id="page-nav">
            <li><h1 id="logo">&#9783;</h1></li>
            <li>Questions</li>
            <li>Users</li>
            <li>
                <form class="search-set form-inline" action="/location">
                    <input id="search-button" class="form-control mr-sm-2 searchbar" type="search"  name="q" placeholder="Search" aria-label="Search">
                    <!-- <input type="submit">Search</input> -->
                    <button id="search-submit" type="submit">&#128269;</button>
                </form>
            </li>
        </div>
        <div id="user-nav">
            <li class="logged-in">{{user}}</li>
            <li class="logged-in">Log-out</li>
            <li class="logged-out">Log-in</li>
            <li class="logged-out">Register</li>
        </div>
    </ul>
</div>

<br>
<div class="container">
{{{body}}}
</body>
</div>
