<style>
.in-a-box{
    border: 1px solid grey;
    padding: 20px;
    border-radius: 10px;
}
</style>

{{#each post}}
    <div class="in-a-box">
    <a href="/posts/{{this.id}}"><h2>{{this.title}}</h2></a>
    <p>{{this.location}}</p>
</div>
{{/each}}
