<!-- Sign-Up -->

<h1>Create a New Account</h1>

<form method="POST" action="/register">

    <!-- USERNAME -->
    <div class="form-group">
        <label for="post-title">Username:</label>
        <input class="form-control" type="text" name="username" placeholder="Username" />
    </div>

    <!-- PASSWORD -->
    <div class="form-group">
        <label for="post-subreddit">Password:</label>
        <input class="form-control" type="password" name="password" placeholder="Password" />
    </div>

    <!-- BUTTON -->
    <button class="btn btn-primary" type="submit">Sign Up</button>
    <a class="btn btn-danger" href="/" role="button">Cancel</a>

</form>
